# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.venv/
env/
venv/

# Node / Frontend
node_modules/
dist/
build/
*.log

# Environment
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
